*/*/.obj
*/*/*/.obj
*/*/a.out
#fr.subject.pdf
cpp00/ex00/megaphone
cpp00/ex00/megaphone.o
cpp00/ex01/annuaire
cpp00/ex02/accountant
cpp01/ex07/replace
cpp01/ex07/testing/*.out
cpp02/ex00/testing/fixed
cpp02/ex00/testing/*.o
#cpp02/ex01/Fixed.cpp
#cpp02/ex01/Fixed.hpp
